<div style="min-height: 90vh;" class="container">
    <div class="row">
        <div class="col">
            <div class="recipe-container">
                <span>{{ recipe['username'] }}</span>
                <h2>{{ recipe['recipeName'] }}</h2>
                <div class="recipe-container-border"></div>
                <div class="recipe-stats">
                    <div class="row">
                        <div class="col-auto" style="margin-top: auto; margin-bottom: auto;">
                            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false" (hover)="hovered=$event"
                                (leave)="hovered=0" [formControl]="ratingRecipeForm" (click)="saveRating()">
                            </ngb-rating>
                            <span style="font-size: 1rem;">{{ avg }}</span>
                        </div>



                        <div class="col-auto">
                            <button mat-icon-button class="btn-bb" (click)="saveRecipe()">
                                <mat-icon #tooltip="matTooltip" matTooltip="Guardar Receta"
                                    [matTooltipPosition]="position.value">bookmark_border</mat-icon>
                            </button>
                        </div>

                        <div class="col-auto">
                            <button mat-icon-button class="btn-bb" (click)="createPdf()">
                                <mat-icon #tooltip="matTooltip" matTooltip="Descargar Receta"
                                    [matTooltipPosition]="position.value">download</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recipe-description-container">
                <p> {{ recipe['recipeDescription'] }}</p>
            </div>
            <div class="recipe-details-container">
                <div class="row">
                    <div class="col-auto recipe-details">
                        <h4>Dificultad</h4>
                        <span> {{ recipe['difficulty'] }}</span>
                    </div>
                    <div class="col-auto recipe-details">
                        <h4>Porciones</h4>
                        <span> {{ recipe['diners'] }}</span>
                    </div>
                    <div class="col-auto recipe-details">
                        <h4>Tiempo de preparación</h4>
                        <span> {{ recipe['preparationTime'] }} minutos</span>
                    </div>
                    <div class="col-auto recipe-details">
                        <h4>Calorias</h4>
                        <span> 0 Cal</span>
                    </div>
                </div>
            </div>



            <div class="recipe-tabs-container">
                <mat-tab-group>
                    <mat-tab label="Preparación">
                        <div class="mat-tab-contain">
                            <div *ngFor="let step of recipe['recipeSteps']; let i = index;">
                                <ul>
                                    <li>
                                        <b>{{ step['stepNumber'] }})</b> {{ step['stepDescription'] }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Ingredientes">
                        <div class="mat-tab-contain">
                            <div *ngFor="let ingredients of recipe['ingredients']; let i = index;">
                                <ul>
                                    <li>
                                        {{ ingredients['ingredient'] }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <div class="col">
            <div class="recipe-container-img">
                <span>{{ recipe['name']}} imagen</span>
            </div>
        </div>
    </div>
</div>