<div style="min-height: 90vh;" class="container">
    <div class="row">
        <div class="col">
            <div class="recipe-container">
                <span>{{ recipe['user']?.username }}</span>
                <h2>{{ recipe['name'] }}</h2>
                <div class="recipe-container-border"></div>
                <div class="recipe-stats">
                    <div class="row">
                        <div class="col-auto" style="margin-top: auto; margin-bottom: auto;">
                            <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false" (hover)="hovered=$event"
                                (leave)="hovered=0" [formControl]="ratingRecipeForm" (click)="saveRating()">
                            </ngb-rating>
                            <span style="font-size: 1rem;">{{ avg }}</span>
                        </div>



                        <div class="col-auto">
                            <button mat-icon-button class="btn-bb" (click)="saveRecipe()">
                                <mat-icon #tooltip="matTooltip" matTooltip="Guardar Receta"
                                    [matTooltipPosition]="position.value">bookmark_border</mat-icon>
                            </button>
                        </div>

                        <div class="col-auto">
                            <button mat-icon-button class="btn-bb" (click)="createPdf()">
                                <mat-icon #tooltip="matTooltip" matTooltip="Descargar Receta"
                                    [matTooltipPosition]="position.value">download</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recipe-description-container">
                <p> {{ recipe['description'] }}</p>
            </div>
            <div class="recipe-details-container">
                <div class="row">
                    <div class="col-auto recipe-details">
                        <h4>Dificultad</h4>
                        <span> {{ recipeDetails['difficulty'] }}</span>
                    </div>
                    <div class="col-auto recipe-details">
                        <h4>Porciones</h4>
                        <span> {{ recipeDetails['servings'] }}</span>
                    </div>
                    <div class="col-auto recipe-details">
                        <h4>Tiempo de preparación</h4>
                        <span> {{ recipeDetails['preparationTime'] }} {{ recipeDetails['timePeriod'] }}</span>
                    </div>
                    <div class="col-auto recipe-details">
                        <h4>Calorias</h4>
                        <span> {{ recipeDetails['calories'] }} Cal</span>
                    </div>
                </div>
            </div>



            <div class="recipe-tabs-container">
                <mat-tab-group>
                    <mat-tab label="Preparación">
                        <p class="mat-tab-contain">{{ recipe['preparation'] }}</p>
                    </mat-tab>
                    <mat-tab label="Ingredientes">
                        <div class="mat-tab-contain">
                            <div *ngFor="let typeOfIngredient of recipeDetails['ingredientTypes']; let i = index">
                                <!-- {{ typeOfIngredient.name }} -->
                                <div
                                    *ngFor="let ingredients of recipeDetails['ingredientTypes'][i]['ingredientsList']; let j = index;">
                                    <ul>
                                        <li>
                                            {{ ingredients.quantity }} {{ ingredients.unit }} de {{ ingredients.name }}
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <div class="col">
            <div class="recipe-container-img">
                <span>{{ recipe['name']}} imagen</span>
            </div>
        </div>
    </div>
</div>