mat-card{
    margin: 2rem 0 ;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px !important;
}

.recipe-input{
    width: 100%;
}
.mr-0{
    margin-right: 0;
}
.ml-auto{
    margin-left: auto;
}
.d-block{
    display: block;
}

.recipe-details-input{
    width: 100%;
}
.form-title{
    border-left: 5px #E74E00 solid;
    padding: .25rem;
    margin-left: .5rem;
    margin-bottom: 1.25rem;
}
.form-title h3{
    font-family: 'Oxygen', sans-serif;
    color: #121212;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem 0;
}
.btn-finished{
    margin-top: .25rem;
    background-color: #E74E00;
    color: #FFF;
}