<div style="min-height: 90vh;" class="container mt-4">
    <h3 class="recipes-found-title">Recetas encontradas:</h3>
    <div *ngIf="recipesFound.length === 0; else recipesF">
        <div class="container-back">
            <div class="container-back-child text-center" >
                <p class="recipes-notfound">No se ha encontrado ninguna receta :(</p>
                <button mat-button class="btn-recipe-card" routerLink="../">Volver</button>
            </div>
        </div>
    </div>  

    <ng-template #recipesF>
        <div *ngFor="let recipe of recipesFound; let i = index;">
            <mat-card class="recipe-card">
                <div class="row">
                    <div class="col-auto">
                        <div class="image"></div>
                    </div>
                    <div class="col-auto">
                        <mat-card-title>
                            {{ recipe['recipeName'] }}
                        </mat-card-title>
                        <mat-card-content>
                            <p> {{ recipe['recipeDescription'] }}</p>
                        </mat-card-content>
                        <mat-card-actions style="margin-bottom: 0;">
                            <button mat-button class="btn-recipe-card"
                                routerLink="../view-recipe/{{ recipe['recipeId'] }}">Ver
                                receta</button>
                        </mat-card-actions>
                    </div>
                </div>
            </mat-card>
        </div>
    </ng-template>

</div>