<div style="min-height: 100vh;" class="container">
    <div class="user-profile-card">
        <div class="image-banner"></div>

        <div class="user-information text-center">
            <div class="profile-image-banner"></div>
            <h3> {{ userData['firstname'] }} {{ userData['lastname'] }}</h3>
            <p> {{ userData['username'] }}</p>
            <span>Miembro desde {{ formatedDate }}</span>
        </div>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="item-count">{{ publishedRecipesCount }}</span><br>
                    <span class="item-name">Recetas publicadas</span>
                </ng-template>
                <div class="container mat-tab-container">
                    <h3>Recetas publicadas</h3>
                    <div class="row">
                        <div class="col-auto" *ngFor="let recipe of publishedRecipesList">
                            <mat-card class="recipe-card">
                                <mat-card-title>
                                    <div class="row">
                                        <div class="col">
                                            {{ recipe['recipeName'] }}
                                        </div>
                                        <div class="col-auto">
                                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                                <mat-icon class="mat-icon-color">more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item (click)="deleteRecipe(recipe['id'])">
                                                    <mat-icon>delete</mat-icon>
                                                    Eliminar
                                                </button>
                                                <button mat-menu-item disabled>
                                                    <mat-icon>edit</mat-icon>
                                                    Actualizar
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                </mat-card-title>
                                <mat-card-subtitle>
                                    {{ recipe['dateCreated'] }}
                                </mat-card-subtitle>
                                <mat-card-content>
                                    {{ recipe['recipeDescription'] }}
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-button class="btn-recipe-card"
                                        routerLink="/recipes/view-recipe/{{ recipe['recipeId'] }}">Ver
                                        receta</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="item-count">{{ savedRecipesCount }}</span><br>
                    <span class="item-name">Recetas guardadas</span>
                </ng-template>
                <div class="container mat-tab-container">
                    <h3>Recetas guardadas</h3>
                    <div class="row">
                        <div *ngIf="savedRecipesList.length == 0; else ola">
                            <p>No tienes ninguna receta agregada en tu lista de favoritos</p>
                        </div>
                        <ng-template #ola>
                            <div class="col-auto" *ngFor="let recipe of savedRecipesList; let i = index">
                                <mat-card class="recipe-card">
                                    <mat-card-title>
                                        <div class="row">
                                            <div class="col">
                                                {{ recipe['name'] }}
                                            </div>
                                            <div class="col-auto">
                                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                                    <mat-icon class="mat-icon-color">more_vert</mat-icon>
                                                </button>
                                                <mat-menu #menu="matMenu">
                                                    <button mat-menu-item
                                                        (click)="deleteRecipeSaved(savedRecipe[i]['id'])">
                                                        <mat-icon>delete</mat-icon>
                                                        Eliminar de lista
                                                    </button>
                                                </mat-menu>
                                            </div>
                                        </div>
                                    </mat-card-title>
                                    <mat-card-subtitle>
                                        {{ recipe['dateCreated'] }}
                                    </mat-card-subtitle>
                                    <mat-card-content>
                                        {{ recipe['description'] }}
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-button class="btn-recipe-card"
                                            routerLink="/recipes/view-recipe/{{ recipe['id'] }}">Ver
                                            receta</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="item-count">{{ ingredientsExcludedCount }}</span><br>
                    <span class="item-name">Ingredientes excluidos</span>
                </ng-template>
                <div class="container mat-tab-container">
                    <h3>Ingredientes excluidos</h3>
                    <span>Agrega un ingrediente que quieres que no contengan las recetas cuando realices una
                        búsqueda</span>
                    <form autocomplete="off" [formGroup]="dataExcludedIngredient" (ngSubmit)="addExcludedIngredient()">
                        <div class="row">
                            <div class="col-auto ">
                                <mat-form-field appearance="outline" class="recipe-input">
                                    <mat-label>Nombre del ingrediente</mat-label>
                                    <input matInput #input formControlName="excludedIngredient">
                                    <mat-error *ngIf="dataExcludedIngredient.get('excludedIngredient').hasError('required') &&
                                    dataExcludedIngredient.get('excludedIngredient').touched">Debes agregar un
                                        ingrediente</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <button mat-raised-button class="btn-add" [disabled]="dataExcludedIngredient.invalid"
                                    type="submit">Agregar</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="excludedIngredientsContainer">
                        <span *ngIf="ingredientsExcludedList.length == 0; else iel">No tienes ningún ingrediente
                            agregado en tu lista</span>
                        <ng-template #iel>
                            <mat-list class="row" *ngFor="let ingredient of ingredientsExcludedList">
                                <mat-list-item>
                                    {{ ingredient['excludedIngredient'] }}
                                    <span class="spacer"></span>
                                    <span flex></span>
                                    <button mat-icon-button class="btn-delete" (click)="deleteExcludedIngredient(ingredient['excludedIngredientId'])">
                                        <mat-icon>delete_outlined</mat-icon>
                                    </button>
                                </mat-list-item>
                            </mat-list>
                        </ng-template>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
