@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

/* font-family: 'Oxygen', sans-serif; */
/* 300 400 700 */
.container-menu-general {
    font-family: 'Oxygen', sans-serif;
    margin: 5rem 0;
}

.container-menu {
    height: 11.25rem;
    width: 22rem;
    border-radius: 1rem;
    background-color: #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img-1 {
    background: url('src\assets\img\home-image-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    transition: .3s;

}

.img-1:hover {
    background-size: 105%;
    background-repeat: no-repeat;
    object-fit: contain;
    transform: scale(1);
    transition: all 150ms ease-in-out;
}

.img-2 {
    background: url('src\assets\img\home-image-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}

.img-2:hover {
    background-size: 105%;
    background-repeat: no-repeat;
    object-fit: contain;
    transform: scale(1);
    transition: all 150ms ease-in-out;
}

.img-3 {
    background: url('src\assets\img\home-image-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}

.img-3:hover {
    background-size: 105%;
    background-repeat: no-repeat;
    object-fit: contain;
    transform: scale(1);
    transition: all 150ms ease-in-out;
}

.container-menu-text {
    margin-top: 10vh;
    /* padding-left: 2rem; */
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    padding: .25rem 0 0 2rem;
}

.container-menu-text span {
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
}

.container-menu-text mat-icon {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 100%;
}

.search-container-general {
    font-family: 'Oxygen', sans-serif;
    margin: 5rem 0;
}

.search-container {
    text-align: center;
    padding: 2rem 0;
}

.search-container h2 {
    font-size: 4rem;
}

.search-container p {
    font-size: 1.5rem;
    font-weight: 300;
}

::ng-deep .mat-form-field-infix {
    top: -3px;
}

.my-icon {
    z-index: 1;
    position: relative;
}

.input-group {
    padding: 0 10rem;
}

.input-group-prepend span {
    padding: 1rem .5rem;
}

.ingredients-chips{
    padding: 0 12.5rem;
    text-align: center;
}

.form-control {
    background-color: #EEE;
    border: none;
    padding: 1rem .5rem;
}

.input-group-append button {
    padding: 1rem .5rem;
}

.form-control:focus {
    border: none;
    box-shadow: none;
}

.input-group-text {
    background-color: #EEE;
    border: none;
}

.btn-background {
    background-color: #EEE;
    border-top-right-radius: 1.875rem;
    border-bottom-right-radius: 1.875rem;
}

.btn-add-ingredient mat-icon {
    border: 1px solid #000;
    border-radius: .25rem;
    vertical-align: top !important;

}

.btn-recipe-search {
    background-color: #E74E00;
    color: #FFFFFF;
    width: 15rem;
    padding-left: 2rem !important;
    border-radius: 1.875rem;
    font-weight: 700;
}

.recipes-card {
    display: inline-block;
    width: 220px;
    height: 5rem;
    margin: 10px;
    background-color: #fefefe;
}
.recipes-card-content{
    padding-top: 7rem;
}
.recipes-card-header{
    text-align: center;
}
.recipes-card-header h3{
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0;
}
.recipes-card-header p{
    margin-bottom: .5rem;
    color: #857F7F;
}
.recipes-card-header span{
    font-weight: 300;
    color: #857F7F;
}
.recipes-card span{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-left: 2.2rem;
}
.recipes-card-details-title{
    font-weight: 700;
}
.recipe-photo {
    border-radius: 50%;
    display: block;
    width: 150px;
    height: 150px;
    margin-top: 0;    
    border: .25rem solid #E4E4E4;
}
.bottom-container {
    position: relative;
    z-index: -10;

    display: inline-block;
    width: 220px;
    height: 300px;
    margin-top: -119px;
    background-color: #E4E4E4;
}

.btn-view_recipe{
    color: #FFFFFF;
    background-color: #E74E00;
}
.error-message{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
    color: #121212;
}
.btn-create {
    margin-top: .5rem;
    background-color: #E74E00;
    color: #FFF;
}
.five-recipes-title{
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin: .25rem 0;
}