<div class="container" style="min-height: 100vh;">
    <div class="add-recipe-container">
        <mat-card>
            <div class="row">
                <div class="col my-auto"><span><b>{{ numberOfRecipes }}</b> recetas disponibles</span></div>
                <div class="col-auto"><button mat-raised-button routerLink="create-recipe">Agrega tú receta</button></div>
            </div>
        </mat-card>
    </div>
    <div class="recipes-container">
        <div class="popular-recipes-container">
            <h2>Las más populares:</h2>
            <p>Aún no hay recetas populares!</p>
        </div>
        <div class="today-recipes-container">
            <h2>Recetas de hoy:</h2>
            
            <div class="row" *ngIf="todaysRecipes.length > 0; else notShowTodaysRecipes">
                <div class="col-sm-4" *ngFor="let item of todaysRecipes; let i = index;">
                    <mat-card class="recipe-card">
                        <!-- <mat-card-subtitle>{{ todaysRecipes[i]['user'].username }}</mat-card-subtitle> -->
                        <mat-card-title>{{ todaysRecipes[i].name }}</mat-card-title>
                        <mat-card-content>
                            <p>{{ todaysRecipes[i].description }}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button class="btn-recipe-card" routerLink="view-recipe/{{ todaysRecipes[i].id }}">Ver receta</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            <ng-template #notShowTodaysRecipes>
                <p >No hay recetas del día de hoy.</p>
            </ng-template>
            
        </div>
        <div class="verfied-recipes-container">
            <h2>Verificadas por el chef:</h2>
            <div class="row" *ngIf="recipesListPublished.length > 0; else notShowRecipes">
                <div class="col-sm-4" *ngFor="let item of recipesListPublished; let i = index;">
                    <mat-card class="recipe-card">
                        <mat-card-subtitle>{{ recipesListPublished[i]['user'].username }}</mat-card-subtitle>
                        <mat-card-title>{{ recipesListPublished[i].name }}</mat-card-title>
                        <mat-card-content>
                            <p>{{ recipesListPublished[i].description }}</p>
                            <!-- {{ recipesDetails[i]?.calories }} -->
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button class="btn-recipe-card" routerLink="view-recipe/{{ recipesListPublished[i].id }}">Ver receta</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            <ng-template #notShowRecipes>
                <span>No hay recetas por ahora, te animas a crear una?</span>
            </ng-template>
            
        </div>
    </div>
</div>